.env
.env.prod
.env.local
.env.worker
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

application-local.yml
application-local.properties
/Todo.md

# client (inside this repo)
client/node_modules
client/dist
