<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <property name="SQL_LOG_FILE" value="${SQL_LOG_FILE:-logs/sql-trace.log}"/>

  <appender name="SQL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${SQL_LOG_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/sql-trace.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [traceId=%X{traceId:-} requestId=%X{requestId:-} %X{method:-} %X{uri:-}] %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="p6spy" level="INFO" additivity="false">
    <appender-ref ref="SQL_FILE"/>
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
